html { 
  background: url("Landing-bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* 
body {
  font-family: 'Bitter', serif;

} */

.container {
 position: absolute;
  text-align: center;
  padding-top: 20px;
  margin-top: 195px;
  margin-left: 385px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 700px;
  height: 300px;
  border: 2px solid #ffffff;
} 

.container img {
    width: 80px;
    height: 50px;
}

.buttonHandle h1 {
    font-family: Bitter;
    display: flex;
    font-weight: bolder;
    font-size: 800px;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

.buttonHandle {
    align-content: center;
    align-items: center;
}
.buttonHandle p {
    font-family: Source Sans Pro;
}

.buttonHandle button {
  background-color: rgb(228, 116, 11);
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 54px;
  font-size: 12px;
  font-weight: bold;
  width: 123px;
  /* margin-block-start: .3px; */
}
 .buttonHandle button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonHandle input {
    padding: 8px 20px;
    padding-right: 60px;
    width: 170px;
} 

.buttonHandle img {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    display: inline-block;
    text-align: center;
}

