html { 
  background: url("blm_map_background.PNG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Bitter', serif;

}


.container {
  height: 100%;
  display: flex;
  flex-direction: column;
} */


.container h1 {
    text-align: center;
}



.buttonHandle h1 {
    display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}


.buttonHandle {
    align-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 35%;
}

.buttonHandle button {
  background-color: rgb(228, 116, 11);
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 18px;
  font-size: 12px;
  font-weight: bold;
  margin-block-start: .3px;
}
/* 
/* .buttonHandle button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonHandle input {
    padding: 8px 12px;
    padding-right: 60px;
} */

.buttonHandle img {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

